# IMPORTANT: modify the "ExecStart" field to reflect your userid + surface-dial-daemon install dir

[Service]
# HACK: this service needs to run _after_ the /dev/input/eventXX files have been created
ExecStart=bash -c 'sleep 1 && /home/danielprilik/.cargo/bin/surface-dial-daemon'
