# IMPORTANT: modify the "ExecStart" field to reflect your surface-dial-daemon install dir

[Unit]
Description=Surface Dial Daemon

[Service]
Type=simple
StandardOutput=journal
ExecStart=/home/danielprilik/.cargo/bin/surface-dial-daemon

[Install]
WantedBy=default.target
